/* header */
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
}

header .logo{
    width: 40%;
    float: left;
}

header .logo img{
    width: 20%;
    margin-top: 15px;

}

header .nav{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

header .nav > li{
    display: inline-block;
    text-align: right;
}

header .nav > li > a {
    color: var(--whiteColor);
    font-size: 15px;
    display: block;
    padding: 30px 15px;
} 
header .nav > li > a.active:after,
header .nav > li > a:after{
    content: "";
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: var(--mainColor);
    transition: width 0.4s;
}
header .nav > li > a.active:after{
    width: 100%;
}

header .nav > li > a:after{
    width: 0;
}

header .nav > li > a:hover:after{
    width: 100%;
}
header .nav > .dropdown > ul > li{
    list-style: none;
}

.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background: #6195dd;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opcity 0.5s;
}
.dropdown-menu a {
    color: var(--whiteColor);
    display: block;
    padding: 10px;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
/****./header*******/
/****home*******/
.home{
    height: 100vh;
    background-image:url(../images/background/background1.webp) ;
    background-size: cover;
    position: relative;
}

.overlay{/** General Css Style **/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}

.home-content{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.home .title{
    color: var(--whiteColor);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home .home-desc{
    margin: 20px 0;
    color: var(--whiteColor);
    letter-spacing: 2px;
    line-height: 1.5;
}

.home .btn{
    min-width: 160px;
    padding: 15px 0;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: var(--whiteColor);
}
.home .btn-learn{
    background-color: var(--mainColor);
    color: var(--whiteColor);
}
/****./home*******/
/************* About Section *************/
.about-content{
    overflow: hidden;
}
.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
    color: var(--mainColor);
    margin-bottom: 10px;
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5;
}
.about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color: var(--grayColor);
}
.about-item-link{
    color: var(--mainColor);
    text-transform: capitalize;
}

/* P Hover */
.about-item:hover .about-item-title{
    color:var(--whiteColor);
}
/************* About Section *************/
/************* Featured Section *************/
.portfolio{
    background-color: var(--bg-gray);
}
.portfolio-content{
    overflow: hidden;
}
.portfolio-item{
    width: 32%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}
.portfolio-item img{
    width: 100%;
}
.portfolio-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}
.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}
.layer-content .layer-info{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.layer-content .category{
    color: var(--mainColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s , opacity 0.5s;
    transition-delay: 0.2s;
}
.layer-content-title{
    font-size: 20px;
    color: var(--whiteColor);
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.5s;
}
.layer-content a{
    color: var(--whiteColor);
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.5s;
}
.layer-content a i{
    display: inline-block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    background-color: var(--mainColor);
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category{
    top: 0;
    opacity: 1;
    visibility: visible;
}
.portfolio-item.mg{
    margin: 0 2%;
}

/************* ./ Featured Section *************/
/*************  offer Section *************/
.offer-content{
    overflow: hidden;
}
.offer-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border:  1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.mg{
    margin: 0 5%;
}
.offer-item .icon{
    position: absolute;
    left: 15px;
    top: 35px;
    color: var(--mainColor);
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}
.offer-item-desc{
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--grayColor);
}
.offer-item:hover .offer-item-title{
    color: var(--whiteColor);
}
/************* ./offer Section *************/
/********* services section ******/
.servicse{
    background-color: var(--bg-gray);
}
.servicse-item{
    width: 50%;
    float: left;
}    

.servicse-item .section-header{
    text-align: left;
}
.servicse-item .section-header .line{
    margin: 0 0 40px 0;
}
.servicse-item-desc{
    padding-right: 20px;
    color: var(--grayColor);
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 20px;
}
.service-list{
    list-style: none;
}
.service-list li{
    margin-bottom: 10px;
    color: var(--grayColor);
}
.service-list li i{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
}
.servicse-item-img img{
    width: 100%
}
.servicse-bollets{
    list-style: none;
    text-align: center;
}
.servicse-bollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
}
.servicse-bollets li.active{
    background-color: var(--mainColor);
}
.servicse-bollets li:hover{
    background-color: var(--mainColor);
}
/********* ./services section ******/
/********* Numbers section ******/
.numbers{
    position: relative;
    background-image: url("../images/background/background2.webp");
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.numbers-items{
    overflow: hidden;
    padding: 100px 0;
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon{
    color: var(--mainColor);
    margin-bottom: 15px;
}
.number-item-title{
    font-weight: bold;
    font-size: 35px;
    color: var(--whiteColor);
}
.number-item-text{
    color: var(--whiteColor);
}
/********* ./Numbers section ******/
/*******pricing section*****/
.pricing-plans{
    overflow: hidden;
}
.pricing-item{
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.pricing-item.mg{
    margin: 0 5%;
}
.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: var(--grayColor);
    transition: color 0.5s;
}
.pricing-item-permonth{
    width: 130px;
    height: 130px;
    padding: 10px 0;
    margin: 20px auto;
    border: 2px solid var(--mainColor);
    border-radius: 50%;
    transition: color 0.5s;
}
.pricing-item-permonth .doller{
    font-size: 50px;
}
.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.pricing-list{
    list-style: none;
}
.pricing-list li{
    color: var(--grayColor);
    line-height: 1.8;
}
.pricing-item-btn{
    background: none;
    border: 0;
    display: block;
    width: 140px;
    border: 2px solid #7ba7ff;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: #7ba7ff;
}

/* The Genral */
/* .tb-effect{
    position: relative;
}
.tb-effect:after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #222;
    transition: height 0.5s;
}
.tb-effect:hover:after{
    height: 100%;
} */

/* .pricing-item-permonth:hover, .doller, .month{
    color: var(--whiteColor);
} */
.pricing-item:hover .pricing-item-permonth{
    color: var(--whiteColor);
}
.pricing-item:hover .pricing-item-text{
    color: var(--mainColor);
}

/*******./pricing section*****/
/*******testimonail section*****/
.testimonail{
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-attachment: fixed;
    height: 400px;
}
.testimonail-content{
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}

.testimonail-item{
    width: 45%;
    float: left;
    color: white;
}
.testimonail-item.mg{
    margin-right: 10%;
}
.testimonail-item .testimonail-toplayer{
    padding: 10px 2px 40px 100px;
    position: relative;
}
.testimonail-item .testimonail-toplayer img{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
}
.testimonail-item .testimonail-toplayer h2{
    margin: 5px 0;
}
.testimonail-item .testimonail-toplayer span{
    color: var(--mainColor);
}
.testimonail-desc{
    line-height: 1.5;
    font-size: 17px;
}
/*******./testimonail section*****/
/*** Team section  ****/
.team-content{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    background: #e8e8e8;
    padding: 40px 10px;
    text-align: center;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background: #7ba7ff;
    color: var(--whiteColor);
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
}
.team-item .team-img img{
    width: 100%;
}
.team-item .team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-item .team-info-text{
    color: var(--grayColor);
    text-transform: uppercase;
    font-size: 14px; 
    transition: color 0.5s;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-item.tb-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color: var(--whiteColor);
}
.team-item:hover .team-info-text{
    color: var(--mainColor);
}
.team-item.mg{
    margin: 0 5%;
}
/*** ./Team section  ****/
/****** Blog section *****/
.blog{
    background: #f8f8f8;
}
.blog-content{
    overflow: hidden;
}
.blog-item{
    width: 30%;
    float: left;
    background: var(--bg-gray);
}
.blog-item.mg{
    margin: 0 5%;
}
.blog-item-img img{
    width: 100%;
}
.blog-info{
    padding: 0 20px 20px;
}
.blog-list{
    list-style: none;
    margin: 10px 0; 
}
.blog-list li {
    display: inline-block;
    margin: 0 5px;
}
.blog-item .blog-list li i{
    color: var(--mainColor);
}
.blog-title{
    font-weight: bold;
    margin: 20px 0;
}
.blog-item .blog-desc{
    margin-bottom: 10px;
    color: var(--grayColor);
    line-height: 1.5;
}
.blog-link{
    color: var(--mainColor);
}
/****** ./Blog section *****/
/* contact */
.contact{
    background: var(--whiteColor);
    padding: 120px 0;
}
.contact-content{
    overflow: hidden;
}
.contact-grop .contact-item{
    width: 30%;
    float: left;
    text-align: center;
}
.contact-item .contact-list{
    font-size: 40px;
    color: var(--mainColor);
}
.contact-item .contact-title{
    font-weight: bold;
    padding: 15px 0;
}
.contact-item .contact-text{
    color: var(--grayColor);
    font-size: 15px;
}

.contact-content .mg-t{
    padding: 50px 0 0 0;
}
.contact-form{
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.form .form-user input{
    width: 50%;
    float: left;
}
input{
    width: 100%;
    margin: 10px 0;
    background: var(--bg-gray);
    font-size: 15px;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
}
.contact-form .form{
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
textarea{
    width: 100%;
    background: var(--bg-gray);
    border: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
}
.name,
.nametow,
input,
textarea{
    border: 1px solid var(--bg-gray); 
}
.name:hover,
.nametow:hover,
input:hover,
textarea:hover {
    border: 1px solid var(--mainColor); 
}

.contact-btn{
    width: 180px;
    height: 50px;
    color: #fff;
    background: var(--mainColor);
    border: none;
    display: block;
    border-radius: 6px;
    font-size: 15px;
    margin: auto;
}
.opacity{
    transition: opacity 0.5s;
}

.opacity:hover{
    opacity: 0.8;
}
/*./ contact */
/****** footer section *****/
footer{
    background: #1c1d21;
    text-align: center;
    padding: 40px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    display: inline-block;
}
.footer-links li a{
    display: block;
    width: 50px;
    height: 50px;
    background: var(--mainColor);
    color: var(--whiteColor);
    margin: 0 5px;
    border-radius: 50px;
}
.footer-links li a i{
    line-height: 50px;
}
/* This is Janral */
.hover-opacity{
    transition: opacity 0.5s;
}
.hover-opacity:hover{
    opacity: 0.6;
}

footer .copyright{
    margin: 40px;  
    color: var(--grayColor);
    font-size: 15px;
    text-transform: uppercase;
}
footer .copyright span{
    color: #6195dd;
}
/****** ./footer section *****/